body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-layout-content {
  width: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2023/08/12/02/50/leaves-8184621_1280.png');
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
}

.footer {
  text-align: center;
  padding: 20px;
  margin-top: auto;
}


